/**
 * @file
 * Styles are organized using the SMACSS technique. @see http://smacss.com/book/
 *
 * When you turn on CSS aggregation at admin/config/development/performance, all
 * of these @include files will be combined into a single file.
 */

/* Import Sass mixins, variables, Compass modules, etc. */
@import "init";

/* HTML element (SMACSS base) rules */
@import "normalize";

/* Layout rules */
@import "layouts/responsive";

/* Component (SMACSS module) rules */
@import "components/misc";
// Optionally, add your own components here.
@import "print";

/* SMACSS theme rules */
/* @import "theme-A"; */
/* @import "theme-B"; */

// load google fonts:
@import url(http://fonts.googleapis.com/css?family=Doppio+One|Merriweather|Roboto+Slab:400,700);

/*
font-family: 'Doppio One', sans-serif;
font-family: 'Merriweather', serif;
font-family: 'Roboto Slab', serif;
*/

// start funtime
$color1: #759ac6;
$color2: #d03136;

body {
	color: $color1;
	background: black;
	font-family: 'Roboto Slab', "Georgia", serif;
	letter-spacing: 2px;
	font-size: 16pt;
	margin: 20px 0 0 0;
}

a, #site-name a {
	color: white;
	&:hover {
		color: $color2;
	}
}

strong, h1, h2 {
	color: $color2;
}

#background-image {
	z-index: -50;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	overflow: hidden;
	img {
		min-width: 100%;
	}
}

#header {
	text-align: center;
	* {
		float: none;
	}
	.not-front & {
		#logo {
			width: 300px;
			margin: 0 auto;
		}
	}
	#site-name {
		display: none;
	}
	#logo, #name-and-slogan {
		display: block;
		color: white;
		.front & {
			a {
				color: $color1;
			}
			#site-slogan {
				margin-top: 20px;
				margin-bottom: 50px;
				font-size: 36pt;
			}
		}
	}
	#logo {
		font-family: 'Doppio One', Arial, sans-serif;
	}
}

#navigation {
	#main-menu {
		text-align: center;
		* {
			text-align: center;
		}
		a {
			color: $color1;
			&:active {
				color: white;
			}
		}
	}
}

/*
Custom styling for 'welcome' node (nid 1)
*/
article.node-1 {
	$zen-column-count: 3;
	@include zen-grid-container;
	.content .field-name-body {
		@include zen-grid-item(2, 1);
	}
	.aside {
		@include zen-grid-item(3, 3);
	}
	.content #disqus_thread {
		clear: both;
	}
}
